# Dependencias y build
node_modules/
dist/
*.tsbuildinfo

# Entornos / credenciales
.env
.env.*
.credentials/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# IDE / SO
.vscode/
.DS_Store

# Cobertura / cache
coverage/
.cache/

# Archivos de respaldo locales
*.backup
*.working
*.orig
*.rej

# Paquetes
*.tgz

# Respaldos/snapshots
*-working
*-backup
*.bak
